<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrustStock">
        <activity
            android:name=".activities.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activities.QualityManagementActivity"
            android:exported="false" />
        <activity
            android:name=".InitialActivity.CustomerLogin"
            android:exported="false" />
        <activity
            android:name=".InitialActivity.StaffLoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CustomerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StaffDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LowStockActivity"
            android:exported="false"/>

        <activity android:name=".activities.StaffOrdersActivity"
            android:exported="false"/>
        <activity android:name=".activities.CustomerCommentsActivity"
            android:exported="false"/>
        <activity android:name=".activities.CommentsManagementActivity"
            />

        <activity
            android:name=".InitialActivity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InitialActivity.MainActivity"
            android:exported="false" />
    </application>

</manifest>